<table class="table">
  <tr>
    <th>EncounterId</th>
    <th>Status</th>
    <th></th>
  </tr>
  <tr *ngFor="let encounter of encounterArr$" (click)="selectEncounter(encounter)">
    <td>{{ encounter.id }}</td>
    <td>{{ encounter.status }}</td>
  </tr>
</table>

<button (click)="createEncounter()" type="button" class="btn btn-success">Neuen Encounter anlegen</button>

<!-- Wird nur angezeigt, wenn selectedEncounter gesetzt ist und auch eine id hat -->
<div *ngIf="(selectedEncounter?.id != '')">
  <p></p>
  <h2>ID: {{ selectedEncounter.id }}</h2>
  <p></p>
  <!-- Die Encounter Component, bekommt mit [id] die id vom ausgewählten Encounter aus der Liste -->
  <app-encounter [id]="selectedEncounter.id!" (encounterModified)="onEncounterModified($event)"></app-encounter>
</div>
